@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");
body {
  font-family: "Lora", "Avenir", "Helvetica Neue", "Helvetica", "Arial", YuGothic, "Yu Gothic", Meiryo;
  font-weight: 200;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.inner {
  width: 90%;
  margin: 0 auto;
}

#loader-bg {
  background: #f3f3f3;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10002;
}

#loader-bg img {
  background: #f3f3f3;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10002;
}

#mv {
  z-index: 1;
}

.bg-mv-img {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  min-height: 100vh;
  background: url("images/mv-bg.jpg") no-repeat center center/cover;
}

@media screen and (max-width: 767px) {
  .bg-mv-img {
    min-width: 100%;
    min-height: 100vh;
    background-position: 20% 0;
  }
}

.mv-content {
  position: absolute;
  width: auto;
  top: 40%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  font-family: "Lora", serif;
  text-align: center;
  color: #fff;
}

.mv-content #openImp:hover {
  cursor: pointer;
}

.mv-content .mv-link {
  text-decoration: none;
  color: #fff;
  letter-spacing: .2em;
}

.mv-content .mv-link h1 {
  font-weight: 400;
  font-size: 24px;
  opacity: .74;
}

.mv-content .mv-link p {
  font-size: 24px;
  font-weight: 400;
  margin-top: 40px;
  opacity: .74;
}

@media screen and (max-width: 767px) {
  .mv-content {
    top: 40%;
    left: 40%;
    transform: translateY(-30%);
    transform: translateX(-20%);
  }
  .mv-content .mv-link h1, .mv-content .mv-link p {
    font-size: 16px;
  }
}

#impressum {
  display: none;
  z-index: 2;
}

#impressum .bg-imp-img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  height: 100vh;
  background: url("images/imp-bg.jpg") no-repeat center center/cover;
}

@media screen and (max-width: 767px) {
  #impressum .bg-imp-img {
    min-width: 100%;
    height: 100vh;
    background-position: 65% 0;
  }
}

#impressum .imp-content {
  position: absolute;
  max-width: 100vw;
  max-height: 100vh;
  top: 30px;
  left: 30px;
  color: #fff;
  opacity: .74;
}

#impressum .imp-content .text-area {
  float: left;
  max-width: 60%;
  max-height: 95vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#impressum .imp-content .text-area::-webkit-scrollbar {
  display: none;
}

#impressum .imp-content .text-area h1 {
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  #impressum .imp-content {
    max-width: 90vw;
  }
  #impressum .imp-content .text-area {
    max-width: 70%;
  }
}

#impressum .imp-content .icons-area {
  float: right;
  margin-right: 30px;
}

#impressum .imp-content .icons-area #closeImp:hover {
  cursor: pointer;
}

#impressum .imp-content .icons-area .logo img {
  width: 100px;
  height: auto;
}

@media screen and (max-width: 767px) {
  #impressum .imp-content .icons-area {
    margin-right: 10px;
  }
  #impressum .imp-content .icons-area .logo img {
    width: 60px;
  }
}

#impressum .imp-content .icons-area .icons {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  text-align: center;
  padding: 10px 0 10px 10px;
  border-left: 2px solid rgba(255, 255, 255, 0.74);
}

#impressum .imp-content .icons-area .icons ul {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  max-width: 50px;
}

#impressum .imp-content .icons-area .icons ul li {
  list-style-type: none;
  margin-top: 40px;
}

#impressum .imp-content .icons-area .icons ul li:nth-child(1) {
  margin-top: 0;
}

#impressum .imp-content .icons-area .icons ul li:nth-last-child() {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  #impressum .imp-content .icons-area .icons {
    right: 10px;
  }
}
